#Dict
/includes/dict/readme.txt
#Debug Files
/includes/PHPAnalysis.dict_build.php
/includes/PHPAnalysis.demo.php
/includes/PDO.Example.php
#Duplicate Files
/static/js/MD5.js
/static/js/jquery.autocomplete.js
/static/editor/ueditor.all.js
/static/editor/ueditor.parse.js
#Server related files and data files
*.lock
/includes/logs
/upload
#These files will be created automatically after install
/.htaccess
/config.php
*-tmp