<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Carbon Forum Rule 1" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTP_HOST}" pattern="^94cb.com$" />
					</conditions>
					<action type="Redirect" url="http://www.94cb.com/{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="Carbon Forum Rule 4">
					<match url=".*" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_METHOD}" pattern="^TRACE" ignoreCase="false" />
					</conditions>
					<action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
				</rule>
				<rule name="Carbon Forum Rule 5" stopProcessing="true">
					<match url="^library" ignoreCase="false" />
					<action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
				</rule>
				<rule name="Carbon Forum Rule 6" stopProcessing="true">
					<match url="^view/default/template" ignoreCase="false" />
					<action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
				</rule>
				<rule name="Carbon Forum Rule 7" stopProcessing="true">
					<match url="^view/mobile/template" ignoreCase="false" />
					<action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
				</rule>
				<rule name="Carbon Forum Rule 8" stopProcessing="true">
					<match url="^view/api/template" ignoreCase="false" />
					<action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
				</rule>
				<rule name="Carbon Forum Rule 9" stopProcessing="true">
					<match url="^controller" ignoreCase="false" />
					<action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
				</rule>
				<rule name="Rewrite Rule 1" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
