.red {
	color: #E51C23;
}

.topic-list a, .topic-list p {
	color: #333;
	line-height: 1.3;
	text-decoration: none;
}
.topic-list a:after {
	content: none !important;
}
.topic-list li {
	margin: auto .5em;
	padding: .5em !important;
}
.topic-list .avatar {
	width: 20%;
	max-height: 5em;
	max-width: 5em;
	float: left;
}
.topic-list .avatar img {
	max-height: 5em;
	max-width: 5em;
	border-radius: 50%;
}
.topic-list .content {
	width: 80%;
	float: left;
}
.topic-list h2 {
	font-size: 1em;
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 !important;
}
.topic-list p {
	font-size: .75em;
	font-weight: 400;
	display: block;
	line-height: 1.3;
}
.topic-list .aside {
	position: absolute;
	line-height: .875em;
	font-weight: bold;
	border-radius: .125em;
	padding: .3em .5em;
	font-size: .75em;
	background-color: #5590CC;
	top: 5.1em;
	right: 2em;
	margin: 0;
	text-align: right;
	color: #FFF;
}
.c {
	clear: both;
}
.pagination {
	text-align: center;
}
.pagination a {
	line-height: 2.5em;
}
/* === Cards ===*/
	.cards-list ul,
.card .list-block ul {
	background: none;
}
.cards-list > ul:before,
.card .list-block > ul:before {
	display: none;
}
.cards-list > ul:after,
.card .list-block > ul:after {
	display: none;
}
.card {
	background: #fff;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
	margin: 10px 0;
	position: relative;
	border-radius: 2px;
	font-size: 14px;
}
.card .list-block,
.card .content-block {
	margin: 0;
}
.row:not(.no-gutter) .col > .card {
	margin-left: 0;
	margin-right: 0;
}
.card-content {
	position: relative;
	overflow-x: auto!important;
	overflow-y: hidden!important;
}
.card-content-inner {
	padding: 15px;
	position: relative;
}
.card-content-inner > p:first-child {
	margin-top: 0;
}
.card-content-inner > p:last-child {
	margin-bottom: 0;
}
.card-content-inner > .list-block,
.card-content-inner > .content-block {
	margin: -15px;
}
.card-header,
.card-footer {
	min-height: 44px;
	position: relative;
	padding: 10px 15px;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.card-header[valign="top"],
.card-footer[valign="top"] {
	-webkit-box-align: start;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}
.card-header[valign="bottom"],
.card-footer[valign="bottom"] {
	-webkit-box-align: end;
	-ms-flex-align: end;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}
.card-header a.link,
.card-footer a.link {
	color: #81848b;
	font-weight: 500;
	line-height: 44px;
	height: 44px;
	text-decoration: none;
	position: relative;
	margin-top: -10px;
	margin-bottom: -10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-transition-duration: 300ms;
	transition-duration: 300ms;
}
html:not(.watch-active-state) .card-header a.link:active,
html:not(.watch-active-state) .card-footer a.link:active,
.card-header a.link.active-state,
.card-footer a.link.active-state {
	opacity: 0.3;
	-webkit-transition-duration: 0ms;
	transition-duration: 0ms;
}
.card-header a.link i + span,
.card-footer a.link i + span,
.card-header a.link i + i,
.card-footer a.link i + i,
.card-header a.link span + i,
.card-footer a.link span + i,
.card-header a.link span + span,
.card-footer a.link span + span {
	margin-left: 7px;
}
.card-header a.link i.icon,
.card-footer a.link i.icon {
	display: block;
}
.card-header a.icon-only,
.card-footer a.icon-only {
	min-width: 44px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	margin: 0;
}
.card-header {
	border-radius: 2px 2px 0 0;
	font-size: 17px;
}
.card-header:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	right: auto;
	top: auto;
	height: 1px;
	width: 100%;
	background-color: #e1e1e1;
	display: block;
	z-index: 15;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
html.ios-gt-6.pixel-ratio-2 .card-header:after {
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
}
html.ios-gt-6.pixel-ratio-3 .card-header:after {
	-webkit-transform: scaleY(0.33);
	transform: scaleY(0.33);
}
.card-header.no-border:after {
	display: none;
}
.card-footer {
	border-radius: 0 0 2px 2px;
	color: #6d6d72;
}
.card-footer:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: auto;
	right: auto;
	height: 1px;
	width: 100%;
	background-color: #e1e1e1;
	display: block;
	z-index: 15;
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}
html.ios-gt-6.pixel-ratio-2 .card-footer:before {
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
}
html.ios-gt-6.pixel-ratio-3 .card-footer:before {
	-webkit-transform: scaleY(0.33);
	transform: scaleY(0.33);
}
.card-footer.no-border:before {
	display: none;
}
.card-header-pic .card-header {
	height: 40vw;
	background-size: cover;
	background-position: center;
}
.carbonforum-card .card-header {
	display: block;
	padding: 10px;
}
.carbonforum-card .carbonforum-avatar {
	float: left;
}
.carbonforum-card .carbonforum-avatar img {
	width: 34px;
	height: 34px;
	border-radius: 50%;
}
.carbonforum-card .carbonforum-name {
	margin-left: 44px;
	font-size: 14px;
	font-weight: 500;
}
.carbonforum-card .carbonforum-floor {
	display: none;
}

.carbonforum-card .carbonforum-date {
	margin-left: 44px;
	font-size: 13px;
	color: #8e8e93;
}
.carbonforum-card .card-footer {
	background: #fafafa;
}
.carbonforum-card .card-footer a {
	color: #81848b;
	font-weight: 500;
}
.carbonforum-card .card-content p {
	margin: 6px 10px !important;
}
.card-content img {
	max-width: 100%;
	display: block;
}
.card-content embed {
	display:block;
	margin-top:10px;
	max-width:100%;
}
.carbonforum-card .card-content-inner {
	padding: 15px 10px;
}
.content-block-title {
	position: relative;
	overflow: hidden;
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 1;
	color: #6d6d72;
	margin: 35px 15px 10px;
}
.content-block-title + .card {
	margin-top: 10px;
}


.user-card-header-pic .card-header {
	min-height: 240px;
	background-size: cover;
	background-position: center;
}

.card a, color-gray, .color-gray a, .color-gray p{
	color: #8e8e93!important;
	text-decoration: none;
}


#toast {  
	position: fixed;
	bottom: 40px;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	color: #E2E2E2;
	background-color: #373A37;
	padding: 10px 0 ;
	text-align:center;
	opacity: .8;
	z-index: 3000;
	-moz-box-shadow: 0 0 30px 2px #888888; /* 老的 Firefox */
	box-shadow: 0 0 30px 2px #888888;
	/*The good stuff */
	-webkit-transition: opacity 0.5s ease-out; /* Saf3.2+, Chrome */
	-moz-transition: opacity 0.5s ease-out; /* FF4+ */
	-ms-transition: opacity 0.5s ease-out; /* IE10? */
	-o-transition: opacity 0.5s ease-out; /* Opera 10.5+ */
	transition: opacity 0.5s ease-out;
}

/* quote*/
blockquote {
	margin-left: 10px;
	border-left: 3px solid #D0E5F2;
	font-style: normal;
	padding: 0 0 0 5px;
	display: block;
	line-height: 22px;
	vertical-align: baseline;
	font-size: 100%;
}