
/****** General Styles ******/
html {
	overflow-y: auto;
	/* fixes MSIE scrollbar bug*/
}
body {
	font-size: 12px;
	font-family: 微软雅黑, Tahoma, Arial, Helvetica, Sans-Serif;
	color: #000000;
	line-height: 150%;
	background: #F9F9F9;
	margin: 0px;
	padding: 0px;
}
/* title */
h3 {
	color: #669900;
	font-size: 150%;
	font-weight: bold;
	padding: 5px 0px 5px 0px;
	margin: 10px 0px 10px 0px;
	border-bottom: 1px dashed #E0E0E0;
}
h4 {
	color: #666666;
	font-size: 125%;
	font-weight: bold;
	padding: 5px 5px 5px 0px;
	margin: 10px 0px 5px 0px;
}
/* text*/
p {
	line-height: 150%;
	margin: 5px 0px 10px 0px;
	padding: 0px;
}
td, th {
	font-size: 100%;
	line-height: 150%;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style: square;
}
li {
	margin: 0px 0px 5px 0px;
	padding: 0px;
	margin-left: 2em;
	list-style: outside;
}
/* links*/
a, a:link, a:visited, a:active {
	color: #555555;
	text-decoration: none;
	word-wrap: break-word;
}
a:hover {
	color: #7aa1b0;
}
/* imgs */
img {
	border: none;
	vertical-align: middle;
}
/* hr */
hr {
	height: 1px;
	border: 0;
	margin: 3px 0 12px;
	border-top: 1px dashed #CCCCCC;
}
/* inputs*/
form {
	display: inline;
	margin: 0;
	padding: 0;
}
input, select, textarea {
	vertical-align: middle;
	outline: 0;
}
input[type="text"], input[type="password"] , textarea, .tags-list {
	border: none;
	border-bottom: 1px solid #CCC;
	padding: 6px 12px;
	font-size: 13px;
	line-height: 1.428571429;
	color: #A6A6A6;
	vertical-align: middle;
	background-color: white;
}
input[type="text"]:focus, .input[type="text"]:hover,input[type="password"]:focus, .input[type="password"]:hover, textarea:hover, textarea:focus, .tags-list:focus, .tags-list:hover {
	color:#676767;
	border-bottom: 1px solid #33B5E5;
}
input.textbtn {
	color: #3C3C3C;
	text-decoration: none;
	vertical-align: middle;
	border: none;
	background-color: #D6D7D7;
	-webkit-appearance: button;
	transition:background-color 0.5s ease-in-out;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	padding: 4px 20px;
	font-size: 13px;
	line-height: 18px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	text-shadow: none;
}
input.textbtn:hover {
	background:#ADE1F4;
	box-shadow: 0 0 2px #33B5E5;
}
label {
	cursor: pointer;
}
/* quote*/
	blockquote {
	border-right: #cccccc 1px dotted;
	padding-right: 4px;
	border-top: #cccccc 1px dotted;
	padding-left: 4px;
	padding-bottom: 4px;
	margin: 16px;
	border-left: #cccccc 1px dotted;
	padding-top: 4px;
	border-bottom: #cccccc 1px dotted;
}
/* tag*/
	.tags-list {
	padding: 6px 12px 0 12px;
}
.tag-input {
	outline: 0 !important;
	float:left !important;
	font-size:12px !important;
	padding:4px 8px !important;
	border:none !important;
	margin-bottom:6px !important;
	width: 20% !important;
	-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0) !important;
	box-shadow: inset 0 0 0 rgba(0,0,0,0) !important;
}
.tag-input:focus {
	outline: 0;
	float:left;
	font-size:12px;
	padding:4px 8px;
	border:none;
	margin-bottom:6px;
	width: 20%;
}
/* tabs*/
	ul.resp-tabs-list {
	margin: 0px;
	padding: 0px;
}
.resp-tabs-list li {
	font-size: 14px;
	border-bottom: 4px solid rgba(0,0,0,0);
	color: #222222;
	display: inline-block;
	padding: 12px 16px;
	margin: 0 24px 0 0;
	list-style: none;
	cursor: pointer;
	float: left;
	font-weight:bold;
	transition:border 0.8s ease-in-out, background-color 0.5s ease-in-out;
	-moz-transition:border 0.8s, background-color 0.5s; /* Firefox 4 */
	-webkit-transition:border 0.8s, background-color 0.5s; /* Safari and Chrome */
	-o-transition:border 0.8s, background-color 0.5s; /* Opera */
}
.resp-tabs-container {
	border-top: 1px solid #CCC;
	padding: 0px;
	background-color: #fff;
	clear: left;
	font-size: 14px;
}
h2.resp-accordion {
	font-size: 14px;
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
	padding: 15px 0;
}
.resp-tab-active, .resp-tab-item:hover {
	border-bottom: 4px solid #33B5E5 !important;
}
.resp-content-active, .resp-accordion-active {
	display: block;
}
/* autocomplete*/
.autocomplete-suggestions {
	color: #000;
	background: #F3F3F3;
	cursor: default;
	overflow: auto;
	-webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
	-moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
	box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}
.autocomplete-suggestion {
	padding: 5px 10px;
	white-space: nowrap;
	overflow: hidden;
}
.autocomplete-no-suggestion {
	padding: 5px 10px;
}
.autocomplete-selected {
	cursor: pointer;
	color: #000;
	background: #ADE1F4;
}
.autocomplete-suggestions strong {
	font-weight: bold;
	color: #000;
}
/* other*/
.wrapper {
	min-width:980px;
	margin:0px auto;
	padding: 0px;
}
/****** Nav Panel ******/
.navPanel {
	min-width:960px;
	background: #f9f9f9;
	padding: 0px 10px 0px 10px;
	border-bottom: 1px solid #33b5e5;
}
.innerNavPanel {
	width:960px;
	margin:0px auto;
}
/* buttons*/
.buttons {
	line-height: 200%;
	white-space: nowrap;
	width: 100%;
	/* ie6 fix*/
	overflow: hidden;
}
.buttons a:link, .buttons a:visited{
	position: relative;
	margin: 0 4px;
	height: 24px;
	border-bottom: 4px solid #f9f9f9;
	float: left;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
	display: block;
	padding: 12px 16px;
	color: #757575;
	text-decoration: none;
}
.buttons a:hover {
	color: #7aa1b0 !important;
	border-bottom: 4px solid #33b5e5 !important;
	transition: border-bottom 0.5s ease-in-out;
	-moz-transition: border-bottom 0.5s; /* Firefox 4 */
	-webkit-transition: border-bottom 0.5s; /* Safari and Chrome */
	-o-transition: border-bottom 0.5s; /* Opera */
}
.buttons-special {
	font-weight: bold;
}
.buttons-active {
	color: #33b5e5 !important;
	border-bottom: 4px solid #33b5e5 !important;
	transition: border-bottom 0.5s ease-in-out;
	-moz-transition: border-bottom 0.5s; /* Firefox 4 */
	-webkit-transition: border-bottom 0.5s; /* Safari and Chrome */
	-o-transition: border-bottom 0.5s; /* Opera */
}
/* sorry for this ie6 hack*/
 * html .buttons img {
	float: left;
	margin: 5px 5px 5px 0px;
}
.shadowStrip {
	height: 1px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.Copyright {
	min-width:960px;
	margin: auto;
	padding: 0px;
	text-align:center;
}
.c {
	clear:both;
}
.float-left {
	float:left;
}
.float-right {
	float:right;
}
.text-center {
	text-align:center;
}
.text-bold {
	font-weight:bold;
}
.center-align {
	margin:0 auto;
}
.img-center, .detail-avatar, .member-avatar, .item-avatar {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.div-align {
	display:block;
	width:100%;
	text-align:center;
}
.grey {
	color: #999;
}
.red {
	color: #bd0a01;
}
.fs12 {
	font-size:12px;
	line-height:1.2em;
}
.fs14 {
	font-size:14px !important;
	line-height:20px;
}
.textbtn {
	cursor: pointer;
}
.yl {
	color:yellow;
}
.c999 {
	color:#999;
}
.c666 {
	color:#666;
}
img.avatar {
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.main {
	width:960px;
	margin:20px auto;
}
.main-content {
	float:left;
	width:670px;
}
.tiptitle {
	margin:0 auto;
	width:80%;
	margin-bottom:10px;
	border-bottom:2px solid #CCC;
	padding:10px;
	color:#CCC;
	font-size:12px;
	background-color:#000;
	border-radius:5px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}
.title {
	background: #ECECEC;
	padding:10px;
	font-size:12px;
	color:#000;
	font-weight: bold;
}
.title a {
	color: #000 !important;
	font-weight: 200 !important;
}
.no-comment {
	width:646px;
	padding:10px;
	background-color:#D0D0D0;
	margin-bottom:20px;
	border: 2px dashed #BBB;
	color:#999;
	text-align:center;
}
.ad {
	width:656px;
	padding:6px;
	background-color:#FFF;
	margin-bottom:10px;
	border:2px dashed #BBB;
	color:#999;
	text-align:center
}
.main-box {
	width:650px;
	padding:10px;
	margin-bottom:20px;
	border-bottom: 1px solid #E2E2E9;
	background: #FFF;
}
.without-title {
	border-top: 0px solid #E2E2E9;
}
.home-box-list {
	width:670px;
	padding:10px 0 15px 0;
}
.table-list tr {
	background-color:#FFFFFF;
}
.topic-title {
	margin-bottom:10px;
}
.topic-title-main {
	max-width:550px;
}
.topic-title h1 {
	margin-bottom:10px;
	font-size:21px;
	font-weight: 500;
	line-height: 150%;
	color:#333;
	WORD-WRAP: break-word;
}
.topic-title-date {
	font-size:12px;
	color:#999;
	border-bottom: 1px solid #EFEFEF;
	padding-bottom:8px;
}
.topic-title-date a {
	color:#A0A0A0;
	font-weight:bold;
}
.topic-title-date a:hover {
	color:#707070;
}
.detail-avatar {
	width:96px;
	height:96px;
	float:right;
}
.detail-avatar img {
	max-width:96px;
	max-height:96px;
	border-radius: 4px;
}
.topic-content {
	word-wrap: break-word;
	font-size:16px;
	overflow-x: auto!important;
	overflow-y: hidden!important;
}
.topic-content img {
	/*display:block;*/
	margin-top:10px;
	max-width:650px;
}
.topic-content embed {
	display:block;
	margin-top:10px;
	max-width:590px;
}
.topic-tags {
	border-top: 1px solid #EFEFEF;
	margin-top:15px;
	padding:10px 10px 0 10px;
	text-align:left;
	font-weight: bold;
}
.post-list {
	border-bottom: 1px solid #EFEFEF;
	padding:0 10px 0 10px;
	margin-bottom:10px;
}
.item-avatar {
	width:58px;
	height:58px;
	float:left;
}
.item-avatar img {
	max-height:48px;
	max-width:48px;
	border-radius: 4px;
}
.item-content {
	width:525px;
	min-height:48px;
	margin: 0 0 7px 7px;
	float:left;
}
.item-date {
	color:#999;
	font-size:12px;
}
.item-date a {
	color:#666;
}
.item-date a:hover {
	color:#222;
}
.item-count {
	margin-right:10px;
	float:right;
	margin-top:12px;
}
.item-count a {
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	border-radius: 2px;
	display: inline-block;
	background-color: #5590CC;
	color: #FFF;
	padding: 2px 6px;
}
.item-count a:hover {
	text-decoration:none;
	background-color:#778087;
}
.item-count a:visited {
	color:#AAA;
	background-color:#E5E5E5;
}
.item-content h2 {
	font-size: 16px;
	padding:0 0 3px 0;
	margin: 0;
	min-height:28px;
}
.item-tags a {
	display:inline;
	padding:1px 4px;
	font-size:12px;
	float:left;
	margin:0 2px;
	color:#262626;
	border: 1px solid #bfbfbf;
	background-color:#fff;
	white-space: nowrap;
	transition:background-color 0.2s ease-in-out;
}
.item-tags a:hover {
	text-decoration:none;
	background-color:#E5E5E5;
}
/* pagination */
.pagination {
	margin-top:15px;
	padding:0 10px 0 10px;
	text-align:center;
}
.pagination a {
	font-size:14px;
	line-height:1.5em;
	padding:2px 4px;
	margin:0 1px;
	color:#262626;
	border: 1px solid #bfbfbf;
	background-color:#fff;
	text-decoration: none;
	font-weight: bold;
}
.currentpage{
	font-size:14px;
	line-height:1.5em;
	border: 1px solid #bfbfbf;
	padding:2px 6px;
	margin:0 3px;
	font-weight: bold;
}
.pagination a:hover, .pagination a:active,.currentpage {
	background-color: #E5E5E5;
	cursor: pointer;
	transition:background-color 0.2s ease-in-out;
}
.commont-item {
	border-bottom: 1px solid #EFEFEF;
	padding:0 10px 0 10px;
	margin-bottom:15px;
}
.commont-avatar {
	width:58px;
	height:58px;
	float:left;
}
.commont-avatar img {
	max-height:48px;
	max-width:48px;
	border-radius: 4px;
}
.commont-data {
	float:left;
	width:590px;
}
.user-commont-data {
	float:left;
	width:640px;
}
.commont-content h2 {
	font-size: 16px;
	padding:0 0 5px 0;
	margin: 0;
	min-height:28px;
}
.commont-data-date {
	color:#999;
	font-size: 12px;
	margin-bottom:4px;
}
.commont-button {
	position: relative;
	height:24px;
	padding: 4px 36px 4px 2px;
	margin-bottom:4px;
}
.commonet-count {
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	border-radius: 2px;
	display: inline-block;
	background-color: #5590CC;
	color: #fff;
	padding: 2px 5px;
}
.comment-text {
	width: 640px;
	height: 150px;
}
.commont-content {
	WORD-WRAP: break-word;
	font-size:16px;
	overflow-x: auto!important;
	overflow-y: hidden!important;
}
.commont-content img {
	/*display:block;*/
	margin-top:10px;
	max-width:590px;
}
.commont-content embed {
	display:block;
	margin-top:10px;
	max-width:590px;
}
.btn {
	overflow:hidden;
	height: auto;
}
.btn a {
	display:inline;
	padding:4px 8px;
	font-size:12px;
	float:left;
	margin:0 4px 6px 0;
	color:#262626;
	border: 1px solid #bfbfbf;
	background-color:#fff;
	white-space: nowrap;
	transition:background-color 0.2s ease-in-out;
}
.btn a:hover {
	text-decoration:none;
	background-color:#E5E5E5;
}
.member-avatar {
	float:left;
	margin:10px;
	width:128px;
	height:160px;
}
.member-avatar a{
	margin:0 auto;
	float: none;
}
.member-avatar img{
	border-radius: 4px;
	max-width:128px;
	max-height:128px;
}
.member-detail {
	float:left;
	margin:10px;
}
.member-detail p {
	color:#666;
	font-size:15px;
	line-height:20px;
	margin-bottom:5px;
}
.user-list {
	margin:20px;
}
.user-list li {
	margin-bottom:10px;
}
.main-sider {
	float:right;
	width:270px;
	font-size:12px;
}
.sider-box {
	border-bottom:1px solid #E2E2E2;
	margin-bottom:20px;
	background: #fff;
}
.sider-box-title {
	background: #ECECEC;
	padding:10px;
	font-size:12px;
	color:#474846;
}
.sider-box-title a {
	color: #000;
}
.sider-box-content {
	margin-bottom:10px;
	padding:10px 10px 0 10px;
}
.sider-box-content ul {
	list-style:none !important;
}
.sider-box-content ul li {
	color:#999;
	width:250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom:10px;
	list-style:none !important;
	line-height:1.2em;
}
/* User Pannel*/
.User-Pannel-Avatar{
	width: 128px;
	padding: 0 61px;
}
.User-Pannel-Avatar img{
	margin-top: 10px;
	max-width: 128px;
	max-height: 128px;
	border-radius: 4px;
}
.User-Pannel-Name{
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	padding: 8px 0;
}
.User-Pannel ul{
	height: 42px !important;
	overflow: hidden !important;
	margin: 10px 0 0 0 !important;
	list-style: none !important;
	font-size: 18px !important;
	display: block !important;
	clear: both !important;
}
.User-Pannel li{
	display: inline !important;
	float: left;
	width: 82px !important;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-color: #d9d9d9;
	margin: 0 !important;
	padding: 0 !important;
	clear: none !important
}
.User-Pannel li strong{
	color: #333;
	display: block !important;
	font-weight: bold !important;
	line-height: 18px !important;
	width: 82px !important;
	overflow: hidden !important;
}
.User-Pannel li span{
	font-size: 12px !important;
	color:#808080;
}
.User-Pannel li strong:hover{
	color: #33b5e5;
}
/* FORM end*/
.tall {
	height: 350px;
}
.w50 {
	width:50px;
}
.w100 {
	width:100px;
}
.w150 {
	width:150px;
}
.w200 {
	width:200px;
}
.w300 {
	width:300px;
}
.w400 {
	width:400px;
}
.w450 {
	width:450px;
}
.w500 {
	width:500px;
}
.h60 {
	height:60px;
}
.h160 {
	height:160px;
}
/* 这里实现星级显示 先这样凑和用着先，有时间了再改*/
	.vote-star {
	display:inline-block;
	/*内联元素转换成块元素，并不换行*/
	margin-right:6px;
	width:300px;
	/*5个星星的宽度*/
	height:30px;
	/*1个星星的高度*/
	overflow:hidden;
	vertical-align:middle;
	background:url(img/star.gif) repeat-x 0 0;
}
.vote-star i {
	display:inline-block;
	/*内联元素转换成块元素，并不换行*/
	height:30px;
	/*1个星星的高度*/
	background:url(img/star.gif) repeat-x 0 -30px;
}
/* 这里是黄色星星，表示不行*/
	.vote-starbad {
	display:inline-block;
	/*内联元素转换成块元素，并不换行*/
	margin-right:6px;
	width:300px;
	/*5个星星的宽度*/
	height:30px;
	/*1个星星的高度*/
	overflow:hidden;
	vertical-align:middle;
	background:url(img/star.gif) repeat-x 0 0;
}
.vote-starbad i {
	display:inline-block;
	/*内联元素转换成块元素，并不换行*/
	height:30px;
	/*1个星星的高度*/
	background:url(img/star.gif) repeat-x 0 -60px;
}
/*五个星星*/
	.vote-star-five {
	display:inline-block;
	/*内联元素转换成块元素，并不换行*/
	margin-right:6px;
	width:150px;
	/*5个星星的宽度*/
	height:30px;
	/*1个星星的高度*/
	overflow:hidden;
	vertical-align:middle;
	background:url(img/star.gif) repeat-x 0 0;
}
.vote-star-five i {
	display:inline-block;
	/*内联元素转换成块元素，并不换行*/
	height:30px;
	/*1个星星的高度*/
	background:url(img/star.gif) repeat-x 0 -30px;
}
.vote-number {
	vertical-align:middle;
	font-family:微软雅黑, Verdana, Geneva, sans-serif;
	font-size:16px;
	padding:7px;
}


.icon {
	position: absolute;
	background-image: url('img/material_design.png');
}
.icon-action-settings {
	background-position: -345px -141px;
	width: 24px;
	height: 24px;
}
.icon-action-newmessages {
	background-position: -107px -5px;
	width: 24px;
	height: 24px;
}
.icon-action-dashboard {
	background-position: -5px -5px;
	width: 24px;
	height: 24px;
}
.icon-action-reply {
	background-position: -311px -277px;
	width: 24px;
	height: 24px;
}